* {
  margin: 0;
  padding: 0;
}
.App {
  width: 100vw;
  min-height: 100vh;
  background-color: lightblue;
  text-align: center;
}
.input-container {
  width: 100%;
  height: 10em;
  border-bottom: 2px solid darkslategray;
}
ul {
  list-style: none;
}
.note-container {
  width: 50%;
  min-width: 600px;
  border: 2px solid darkslategray;
  border-radius: 10px;
  background-color: cadetblue;
  margin: 2em 0 0 2em;
}
.note-container-header {
  width: 100%;
  height: 1px;
  text-align: right;
}
.note-container-body {
  padding: 1.2em;
}
button {
  background-color: #CB4C4E;
  cursor: pointer;
}
input {
  width: 400px;
  height: 6em;
  margin-top: 2em;
  border: 2px solid darkslategray;
  border-radius: 10px;
}